<div class="container games-list">
<%= will_paginate %>
	<% @games.each do |game| %>
	<ul>
		<li> <%= game.name %>
		<%= link_to 'See game details', game_path(game) %>
		</li>
		<li> Game Finder Rating: <%= game.hitfox_rating_id %></li>
	</ul>
	<% end %>
<%= will_paginate %>
</div>