<nav class="navbar navbar-default header navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Game Finder", root_url, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <%= form_tag games_path, method: 'get', class:"navbar-form navbar-left" do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class:"form-control", placeholder:"Search" %>
          <%= submit_tag "Search", class:"btn btn-large btn-primary" %>
        </div>
        <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'iOS Games', ios_path %></li>
        <li><%= link_to 'Android Games', android_path %></li>
        <li><%= link_to image_tag('england.png'), english_path %></li>
        <li><%= link_to image_tag('de.png'), german_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>